server.port=8080

spring.datasource.url=jdbc:mysql://localhost:3306/legal_council_notices?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Kolkata
spring.datasource.username=root
spring.datasource.password=root

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=false
spring.jpa.properties.hibernate.format_sql=true

spring.servlet.multipart.max-file-size=200MB
spring.servlet.multipart.max-request-size=200MB

app.jwt.secret=change-this-secret-key-at-least-32-bytes-long
app.jwt.expiration-ms=86400000

app.storage.upload-dir=data/uploads/zips

app.location.preview-max-rows=100

logging.level.com.com.notices.api=INFO


# application Mail Configuration
app.mail.live=false
app.mail.from-name=mailapp.test2021@gmail.com
app.mail.bcc=
app.mail.test-mail-id=jleelakumari@gmail.com
app.mail.error-to=jleelakumari@gmail.com
app.mail.error-bcc=jleelakumari@gmail.com
spring.mail.host=smtp.gmail.com
spring.mail.port=587 
spring.mail.username=mailapp.test2021@gmail.com
spring.mail.password=
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true
spring.mail.smtp.ssl.trust=smtp.gmail.com

#whatsapp configuration
app.whats-app.url=https://watool.in/api/wpbox/sendtemplatemessage1
app.whats-app.access-token=
app.whats-app.live=false
app.whats-app.test-mobile-number=

#sms up configuration
app.sms.url=https://web.smsgw.in/smsapi/jsonapi.jsp
#app.sms.api-key=
app.sms.user-name=
app.sms.password=
app.sms.live=false
app.sms.test-mobile-number=918688597572