<div class="min-vh-100 d-flex flex-column">
  <nav class="navbar navbar-expand-lg bg-white border-bottom shadow-sm">
    <div class="container">
      <span class="navbar-brand fw-bold text-uppercase brand-title mb-0">DAMC Legal Notices</span>

      <div class="d-flex align-items-center gap-3">
        <a routerLink="/send-notices" routerLinkActive="fw-bold" class="nav-link text-dark">Send Notice</a>
        <a routerLink="/notices" routerLinkActive="fw-bold" class="nav-link text-dark"> Notice Details</a>
        <a routerLink="/excel-mappings" routerLinkActive="fw-bold" class="nav-link text-dark">Excel Mappings</a>
        <button class="btn btn-outline-secondary btn-sm" (click)="logout()">Logout</button>
      </div>
    </div>
  </nav>

  <main class="flex-grow-1 py-3">
    <router-outlet></router-outlet>
  </main>
</div>